* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Inconsolata', arial, serif;
  font-size: 15px;
  text-align: center;
  color: #4d4d4d;
}
body#homepage { background-color: #f9f9f9; }
body#homepage #menuBg { background-color: #f9f9f9; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; }
h1 { margin-bottom: 1em; }
p { margin: 1em 0; }
a {
  color: #666666;
  text-decoration: none;
}
a:hover { color: #000000; }
table {
  font-size: inherit;
  font: 100%;
}
ul, ol { list-style-position: inside; }
#index {
  width: 590px;
  padding: 12px;
  margin-top: 60px;
  background-color: #ffffff;
}
#index img { max-width: 590px; }
#index .description {
  background-color: #eeeeee;
  padding: 6px 10px 6px 10px;
  margin-bottom: 8px;
  margin-top: 8px;
  display: inline-block;
}
.category { margin-top: 60px; }
.post_container {
  width: 590px;
  padding: 12px 12px 1px 12px;
  margin-bottom: 20px;
}
#process .post_container { background-color: rgba(66, 219, 240, 0.5); }
#context .post_container { background-color: rgba(237, 245, 91, 0.5); }
#ideas .post_container { background-color: rgba(82, 219, 143, 0.5); }
#collection .post_container { background-color: rgba(184, 215, 194, 0.5); }
#tagPage .post_container { background-color: rgba(128, 128, 128, 0.3); }
#manifesto .post_container { background-color: rgba(255, 98, 63, 0.5); }
#manifesto .post_container .item {
  background-color: #ffffff;
  padding: 2px 4px 2px 8px;
  margin-bottom: 12px;
  list-style-type: none;
  display: inline-block;
}
#guideline { background-color: rgba(125, 123, 186, 0.5); }
#process_page .process_link a { color: #42dbf0; }
#menu .process_link a:hover { color: #42dbf0; }
#ideas_page .ideas_link a { color: #52db8f; }
#menu .ideas_link a:hover { color: #52db8f; }
#context_page .context_link a { color: #edf55b; }
#menu .context_link a:hover { color: #edf55b; }
#collection_page .collection_link a { color: #b8d7c2; }
#menu .collection_link a:hover { color: #b8d7c2; }
#manifesto_page .manifesto_link a { color: #ff623f; }
#menu .manifesto_link a:hover { color: #ff623f; }
#guideline_page .guideline_link a { color: #7d7bba; }
#menu .guideline_link a:hover { color: #7d7bba; }
.post {
  background-color: #ffffff;
  padding: 12px;
  margin-bottom: 12px;
  color: #6f726f;
}
.post .titleBar {
  font-weight: bold;
  border-bottom: 1px dashed #f7f7f7;
}
.post .titleBar .date {
  font-weight: normal;
  float: right;
  color: #d9d9d9;
}
.post .content {
  font-weight: normal;
  margin: 4px 4px 14px 4px;
}
.post .tags .tag {
  background-color: #cecece;
  color: #ffffff;
  margin-right: 5px;
  padding: 2px 6px;
  float: left;
  display: inline-block;
}
.post img { max-width: 558px; }
.site {
  font-size: 1em;
  text-align: left;
  width: 800px;
  margin: 0 auto 30px;
  line-height: 1.5em;
  position: relative;
}
#menuBg {
  background-color: #ffffff;
  opacity: 0.9;
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  display: block;
}
#menu {
  padding-top: 30px;
  padding-left: 6px;
  font-size: 1.1em;
  position: fixed;
  top: 0;
  height: 30px;
  width: 100%;
}
#menu .homeTitle {
  margin-right: 30px;
  margin-left: 4px;
}
#menu .title a {
  text-decoration: none;
  margin-right: 10px;
}
#sideBar {
  position: fixed;
  top: 60px;
  width: 235px;
  margin-left: 624px;
  font-size: 1.2em;
}
#sideBar .section {
  font-size: 0.8em;
  background-color: #f2f2f2;
  display: inline-block;
  padding: 5px 10px 5px 10px;
  width: 100%;
  margin-bottom: 8px;
}
#sideBar .title {
  border-bottom: 1px dashed #ffffff;
  margin-bottom: 8px;
}
#sideBar .tag {
  background-color: #cecece;
  color: #ffffff;
  margin-right: 5px;
  padding: 2px 6px;
  margin-bottom: 5px;
  float: left;
  display: inline-block;
}
#sideBar .selectedTag { background-color: #808080; }
#sideBar .selectedTag a { color: #ffffff; }
#sideBar .contactType {
  width: 45px;
  display: inline-block;
}
#post { padding-top: 10px; }
#post pre {
  border: 1px solid #dddddd;
  background-color: #eeeeff;
  padding: 0 0.4em;
}
#post ul { margin-left: 1.35em; }
#post ol { margin-left: 1.35em; }
#post code {
  border: 1px solid #dddddd;
  background-color: #eeeeff;
  font-size: 85%;
  padding: 0 0.2em;
}
#post pre code { border: none; }
#post pre.terminal {
  border: 1px solid black;
  background-color: #333333;
  color: white;
}
#post pre.terminal code { background-color: #333333; }
#related { margin-top: 2em; }
#related h2 { margin-bottom: 1em; }
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.comment_count {
  margin: 10px 0 12px;
  padding: 5px 12px;
  display: block;
  background-color: #ffffff;
  height: 15px;
}
