/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Fonts */
@font-face{ font-family: "steinzeit-1"; }
@font-face{ font-family: "gesta-1","gesta-2",sans-serif; }


/* Global Reset */

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  background-color: white;
  font-family: "gesta-1","gesta-2",sans-serif;
  font-size: 1em;
}


h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

h1 {
  margin-bottom: 1em;
}

p {
  margin: 1em 0;
}

a {
  color: #00a;
}

a:hover {
  color: black;
}

a:visited {
  color: #a0a;
}

table {
  font-size: inherit;
  font: 100%;
}